// COLORS

//background
$backgroundbluegradient: linear-gradient(227.1deg, #1B2F9C 0.7%, rgba(0, 0, 0, 0.58) 94.43%);
$black: #000000;

//the yellow
$theyellow: #FFFADE;

//the teal
$theteal: #00CFA9;


// THE CODE

//body
body {
    background: $backgroundbluegradient;
    background-color: #000000;
    height: 1000px;
    margin: 0;
    padding: 0;
}

//header
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 800px;
    h1 {
        color: $theteal;
    }
    .nav_links {
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    li a {
        padding: 0px 20px;
        transition: all 0.3s ease 0s;
    }
    img {
        height: 400px;
        width: 400px;
        border-radius: 90%;
        object-fit: cover;
    }
}

//skills
.skills {
    display: flex;
    justify-content: space-between;
    background-color: $theyellow;
    height: 500px;
    padding: 50px;
    .fronticons {
        display: flex;
    }
    .backicons {
        display: flex;
    }
}

//portfolio
.portfolio {
    color: $theteal;
    height: 600px;
    .right {
        display: flex;
        justify-content: end;
    }
    .center {
        align-items: center;
        .port1 {
            border: $theteal 1px solid;
            border-radius: 5px;
            text-align: center;
        }
        .port2 {
            border: $theteal 1px solid;
            border-radius: 5px;
            text-align: center;
        }
        .port3 {
            border: $theteal 1px solid;
            border-radius: 5px;
            text-align: center;
        }
    }
}

//about
.about {
    height: 400px;
    background-color: $theteal;
    h1 {
        color: $theyellow;
    }
    p {
        color: white;
    }
}

//blog
.blog {
    background-color: $theyellow;
    height: 500px;
}

//contact
.contact {
    background-color: $theteal;
    height: 700px;
}
